
#load-xml-hidden {
  height: 0px;
  visibility: hidden;
  position: absolute;
}

div:has(.sampletext){
    position: relative;
}

.sampletext {
    font-size: 64px;
    color: #aaaaaa;
    opacity: 0.5;
    width: 840px;
    height: 100%;
    z-index: -9999;
    top: 0;
    left: 0;
    position: absolute;
    transform: rotate(-15deg);
    transform-origin: center;
/*
    background-color: #444444;
*/
}
